<h2>From AppComponent:</h2>
<p>Emoji from FlowerService: {{ flower.emoji }}</p>
<p>Emoji from AnimalService: {{ animal.emoji }}</p>

<hr />

<app-wrapper-component [parentTemplate]="appComponentTemplate">
  <ng-template #appComponentTemplate let-context>
    <div class="inspector-container">
      <h4>Inside AppComponent view</h4>
      <p>
        The following is declared within the AppComponent view so it doesn't see
        anything from the ChildComponent and only sees the AppComponent parent
        and root services.
      </p>
      <app-inspector [value]="context?.value"></app-inspector>
    </div>
  </ng-template>
</app-wrapper-component>
