<app-child [templates]="[contentChildTemplate, parentTemplate, embeddedTemplate]" [factory]="factory">
  <!-- Inspect as component ContentChild of ChildComponent -->
  <app-inspector declared="Inside ChildComponent Content">
    This inspector is declared within the ChildComponent content so it has access
    to the ChildComponent parent, providers but not view providers.
  </app-inspector>

  <ng-template #contentChildTemplate>
    <!-- Inspect TemplateRef ContentChild of ChildComponent -->
    <app-inspector declared="Template Inside ChildComponent Content">
      This inspector is declared within the ChildComponent content as a template so
      it has access to the ChildComponent parent, providers and view providers.
    </app-inspector>
  </ng-template>
</app-child>